<template>
  <q-page class="flex flex-center">
    <div>
      <div class="layout-padding">
        <div v-if="!authenticated">
          <div class="column items-center">
            <div class="auto"><img src="~assets/quasar-logo-full.svg"></div>
            <div class="auto">
              <h3>
                <br/>
                <router-link to="/signin">Sign In</router-link> or <router-link to="/register">Register</router-link> to see the power of Quasar and Feathers
                <br/><br/>
              </h3>
            </div>
          </div>
        </div>
        <div v-else class="column items-center">
          <h5>
            Authed, go to the <router-link to="/chat">Chat</router-link>
          </h5>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>

export default {
  props: ["user"],
  data () {
    return {
    }
  },
  computed: {
    authenticated () {
      return this.user !== null
    }
  },
  methods: {
  },
  mounted () {
  },
  beforeDestroy () {
  }
}
</script>

<style lang="styl">

</style>
